body{
  margin: 0;
  /*padding-top: 64px;*/
  height: 100%;
}

.posts-list {
  display: flex;
  box-sizing: border-box;
  flex: 1;
}

.posts-list-int {
  padding: 16px;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
}

.post-card {
  /*width: 500px;*/
  /*margin: 16px;*/
}