body{
  margin: 0;
  height: 100%;
}

.posts-list {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  margin-top: 64px;
}

.posts-list-int {
  flex: 1;
}

.post-detail {
  margin-top: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
}

.header-link  {
  text-decoration: none;
  color: white;
}

.card-buttons {
  min-width: auto;
  margin-right: 10px;
}

.mdc-button__icon {
  display: inline-block;
  height: 18px;
  line-height: inherit;
  vertical-align: top;
}

.radio-horizontal {
  display: flex;
}

.sort-by {
  padding: 8px;
}

.mdc-list {
  padding: 0;
}

.post-title {
  --mdc-theme-text-primary-on-primary: white;
  --mdc-theme-text-primary-on-light: white;
  --mdc-theme-text-secondary-on-light: white;
  --mdc-theme-text-primary-on-background: white;
}

.mdc-card__supporting-text  {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text-centered  {
  text-align: center;
}

.text-white {
  color: #FFF;
}

.delete {
  --mdc-theme-primary: red;
}